<!DOCTYPE HTML>
<html lang="en" ng-app="recipeApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pretty Recipe Generator</title>
        <link href="index.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
        <script src="index.js"></script>
        <script src="latex.js"></script>
    </head>
    <body ng-controller="RecipeCtrl" class="content">
        <h1>Pretty Recipe Generator</h1>
        <p>Generates TEX files for recipes, which can be compiled into PDFs. An example, and free recipe, can be viewed <a href="http://mattbraddock.com/pretty-recipes/example.pdf" target="_blank">here</a>.</p>
        <p>Source code available <a href="https://github.com/slashinfty/pretty-recipes" target="_blank">here</a>.</p>
        <p><label>Recipe Title: </label><input ng-model="title" ng-change="change()"/></p>
        <p><label>Recipe Author: </label><input ng-model="author" ng-change="change()"/></p>
        <p><label>Brief Description: </label><input ng-model="descript" ng-change="change()"/></p>
        <p><i>Times suggested in the format 0h 00m</i></p>
        <p><label>Prep Time: </label><input ng-model="prep" ng-change="change()" size="8"/></p>
        <p><label>Cook Time: </label><input ng-model="cook" ng-change="change()" size="8"/></p>
        <p><i>Input ingredients and directions one at a time and press add after each one.</p>
        <p>If you want to input a temperature, do <b>*F</b> or <b>*C</b>.</p></i>
        <p><form ng-submit="addIngredient()"><label>Ingredient: </label><input ng-model="enteredIngredient"><input type="submit" value="Add to List"></form></p>
        <ul>
            <li ng-repeat="ingredient in ingredients">{{ingredient}} <a href="" ng-click="removeIngredient(ingredient)">remove</a></li>
        </ul>
        <p><form ng-submit="addDirection()"><label>Direction: </label><input ng-model="enteredDirection"><input type="submit" value="Add to List"></form></p>
        <ol>
            <li ng-repeat="direction in directions">{{direction}} <a href="" ng-click="removeDirection(direction)">remove</a></li>
        </ol>
        <button onclick="submit()">Generate TEX File</button>
        <p>To compile into PDF, either upload on <a href="https://latexbase.com/" target="_blank">LaTeX Base</a>, or locally with your own LaTeX <a href="https://miktex.org/" target="_blank">distribution</a>.</p>
        <p>This Windows <a href="https://gist.github.com/slashinfty/5b6149945d40d35137ce06a340b2c8b0" target="_blank">batch file</a> can be used to convert multiple TEX files to PDF, if a LaTeX distribution is installed.</p>
    </body>
</html>