<!DOCTYPE html>
<html lang="en" ng-app="recipeApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pretty Recipe Generator</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
  <script src="index.js"></script>
  <script src="latex.js"></script>
</head>

<body ng-controller="RecipeCtrl" class="stackedit">
  <div class="stackedit__html"><h1 id="pretty-recipe-generator">Pretty Recipe Generator</h1>
Generates TeX files for recipes, which can be compiled into PDFs. An example, and free recipe, can be viewed <a href="http://mattbraddock.com/pretty-recipes/example.pdf">here</a>. Source code available <a href="https://github.com/slashinfty/pretty-recipes">here</a>.
<hr>
<p><label>Recipe Title: </label><input ng-model="title" ng-change="change()"/></p>
<p><label>Recipe Author: </label><input ng-model="author" ng-change="change()"/></p>
<p><label>Brief Description: </label><input ng-model="descript" ng-change="change()"/></p>
<p><em>If including a picture, the file must be saved in the same folder as the .tex file with the same name as the .tex file. For best results, the picture should be a 1:1 aspect ratio.</em><br>
<label>Include Picture?</label> <input type="checkbox" ng-model="picture" ng-change="change()"/></p>
<p><em>Times suggested in the format 0h 00m</em><br>
<label>Prep Time: </label><input ng-model="prep" ng-change="change()" size="8"/></p>
<p><label>Cook Time: </label><input ng-model="cook" ng-change="change()" size="8"/></p>
<p><em>Input ingredients and directions one at a time and press add after each one.</em><br>
<em>If you want to input a temperature, do *F or *C</em>
<form ng-submit="addIngredient()"><label>Ingredient: </label><input ng-model="enteredIngredient"><input type="submit" value="Add to List"></form>
<ul>
<li ng-repeat="ingredient in ingredients">{{ingredient}} <a href="" ng-click="removeIngredient(ingredient)">remove</a></li>
</ul>
<form ng-submit="addDirection()"><label>Direction: </label><input ng-model="enteredDirection"><input type="submit" value="Add to List"></form>
<ol>
<li ng-repeat="direction in directions">{{direction}} <a href="" ng-click="removeDirection(direction)">remove</a></li>
</ol></p>
<button onclick="submit()">Generate TEX File</button>
<h2 id="compiling">Compiling</h2>
<p>To compile into PDF, either upload on  <a href="https://latexbase.com/">LaTeX Base</a>, or locally with your own LaTeX  <a href="https://miktex.org/">distribution</a>.</p>
<p>This Windows  <a href="https://gist.github.com/slashinfty/5b6149945d40d35137ce06a340b2c8b0">batch file</a>  can be used to convert multiple TeX files to PDF, if a LaTeX distribution is installed (Linux <a href="https://gist.github.com/slashinfty/5b6149945d40d35137ce06a340b2c8b0#gistcomment-3121329">bash function</a> available).</p>
</div>
</body>

</html>
